.footer-container{
    position: relative;
}
footer-container>hr{
    border: 1px solid var(--lightgray);
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
}
.social-links{
    display: flex;
    gap: 4rem;
}
.social-links>img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.logo-f>img{
    width: 10rem;
}